
$small: 480px !default;
$medium: 640px !default;
$large: 1024px !default;
$x-large: 1360px !default;

$small-down: "only screen and (max-width: #{$small})";

$medium-up: "only screen and (min-width: #{$medium})";
$medium-down: "only screen and (max-width: #{$medium})";

$large-up: "only screen and (min-width: #{$large})";
$large-down: "only screen and (max-width: #{$large})";

$x-large-up: "only screen and (min-width: #{$x-large})";