@use './base/_colors' as *;
@use './base/_fonts' as *;
@use './base/_responsive'as *;
@use './base/_reset' as *;

@use './utils/_functions' as *;
@use './utils/_mixins' as *;

.loader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    visibility: hidden;

    position: fixed;
    overflow: hidden;
    background-color: $background-color;

    @include flex(column);
    @include loader;

    -webkit-animation-name: fade-out;

            animation-name: fade-out;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;

    @-webkit-keyframes fade-out {
        0% { opacity: 1;
             visibility: visible; 
        }
        66% {
            opacity: 1;
        }
        100% { opacity: 0;
        }
    }

    @keyframes fade-out {
        0% { opacity: 1;
             visibility: visible; 
        }
        66% {
            opacity: 1;
        }
        100% { opacity: 0;
        }
    }
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: $main-font;
    scroll-behavior: smooth;
    font-weight: 400; 
    margin: 0; 
}

h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 1rem;
}

a {
    text-decoration: none;
}

#navigation {
    margin-top: 1rem;
    @include flex(row);
    padding: 1rem;
    & img {
        width: 10rem;
    }
}

#marker-bloc {
    box-shadow: inset 0px 5px 10px -5px darken($background-color, 20%);
    overflow: hidden;
    @include flex(row);
    // gap: 1rem;
    background: darken($color: $background-color, $amount: 5%);
    & p {
        font-weight: 400;
        margin: 1rem;
    }  
}

#booking-bloc {
    background: $background-color;
    padding-bottom: 2rem;
    padding-top: 1rem;

    .booking-content {      
        @include flex(column);
        text-align: center;
        transition: all 0.4s ease;

        h2 {
            margin: 0;
            margin: 10px;
            padding-left: 3rem;
            padding-right: 3rem;
        }

        h3 {
            font-weight: 300;
            margin: 10px;
        }

        .button {
            @include flex(column);
            @include button;
        }
    }
}

#function-bloc {
    display: grid;
    gap: 1rem;
    margin: 1rem;

    #function-box {
        display: grid;
        gap: 1rem;

        .function-card { 
            @include card;
            @include box;

            background-color: $background-color;
            border-radius: 20px;
            margin-left: 1rem;
            padding: 1rem;
            font-weight: 500;

            // max-width: 100%;

            &:hover .icon {
                color: $primary-color;
            }
        
            .card-content {
                display: flex;
                flex-direction: row;
                gap: 1rem;
            }

            .number {
                @include flex(column);
                // margin-top: 5px;
                margin-left: -30px;
                color: lighten($color: $background-color, $amount: 10%);
                background: $primary-color;
                padding: 10px;
                width: 10px;
                height: 10px;
                border-radius: 100%;
            }

            &:hover {
                background: lighten($color: $primary-color, $amount: 35%);
                transition: all 0.4s ease;
            }

            .icon {
                @include flex(row);
                color: darken($color: $background-color, $amount: 60%);
            }
            & p {
                @include flex(column);
            }
        }
    }
}

#restaurant-bloc {
    @include flex(column);
    background: $background-color;
    padding: 1rem;
    margin-top: 3rem;
    padding-bottom: 2rem;
    gap: 1rem;

    #restaurant-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); /* breakpoint auto */

        width: 100%;
        display: grid;
        gap: 1rem;
        // grid-template-columns: 1fr 1fr 1fr;
    }

    .restaurant-card {
        // display: grid;
        // grid-template-rows: 11rem 5rem;
        // height: 16rem;
        // width: 100rem;

        

        color: #000;
        background-color: lighten($color: $background-color, $amount: 10%);
        
        @include card;
        @include box;
        &:hover {
            box-shadow: 0 0px 10px 0 darken($color: $background-color, $amount: 25%), 
            0px 0px 30px 0px darken($color: $background-color, $amount: 25%);    
        }


        & .top-card{
            display: flex;
            justify-content: flex-end;
            
            & .new-tag {
                position: absolute;
                @include flex(row);
                background: $tertiary-color;
                color: darken($color: $tertiary-color, $amount: 40%);
                border-radius: 2px;
                font-weight: 500;
                margin: 1rem;
                padding: 5px;
                width: 5rem;
            }

            & img {
                -o-object-fit: cover;
                   object-fit: cover;
                border-top-right-radius: 1rem;
                border-top-left-radius: 1rem;
                width: 100%;
                height: 11rem;
            }
        }   

            & .bottom-card {
                display: flex;
                justify-content: space-between;
                // font-size: 18px;
                margin: 1rem;
                line-height: 22px;
                @include checkbox-icon;

                & .subtitle-card {

                    h3 {
                        font-weight: 700;
                        // margin: 0;
                    }

                    p {
                        font-weight: 400;
                        // margin: 0;

                    }
                }
            }
        }
    }

#footer {
    @include flex(row);
    background: darken($color: $background-color, $amount: 75%);

    .info {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        padding-bottom: 1rem;
        line-height: 30px;
        width: 100%;
        
        h4 {
            font-family: $title-font;
            margin-bottom: 0;
            font-weight: 400;
            color: #fff;
            margin: 0;
        }
    
        a {
            text-decoration: none;
            color: #fff;
        }
        
        .link {
            display: grid;
            grid-template-columns: 1rem 1fr;
            grid-template-rows: 1fr;
            gap: 10px;
        }
    }
}

@media #{$medium} {
    #function-bloc {
        @include flex(column);
        #function-box {
            @include flex(row);
            flex-wrap: wrap;
            gap: 2rem;
            .function-card {
                padding-right: 2rem;
            }
        }
    }

    // #restaurant-bloc {
    //     @include flex(column);
    //     #restaurant-box {
    //         display: grid;
    //         grid-template-columns: repeat(2,1fr);
    //         // grid-template-rows: repeat(2, 1fr);
    //         // gap: 1rem;
    //     }
    // }
}

    @media #{$large} {
        #function-bloc {
            @include flex(column);
            #function-box {
                display: grid;
                grid-template-columns: repeat(3,1fr);
                text-align: center;
                gap: 2rem;
                .function-card {
                    padding-right: 2rem;
                }
            }
        }

        #restaurant-bloc {
            // @include flex(column);
            #restaurant-box {
                // display: grid;
                // grid-template-columns: repeat(2,1fr);
                // grid-template-rows: repeat(2, 1fr);
                // gap: 1rem;
                // margin-left: 10rem;
                // margin-right: 10rem;
                width: 70%;

            }
        }
        #footer {
            .info {
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                max-width: 900px;
            }
        }
    }

    @media #{$x-large} {
        #function-bloc {
            @include flex(column);
            #function-box {
                display: grid;
                grid-template-columns: repeat(3,1fr);
                text-align: center;
                gap: 2rem;
                .function-card {
                    padding-right: 2rem;
                }
            }
        }

         #restaurant-bloc {
        //     @include flex(column);
             #restaurant-box {
        //         display: grid;
        //         grid-template-columns: repeat(2,1fr);
        //         // grid-template-rows: repeat(2, 1fr);
        //         // gap: 1rem;
        //         // margin-left: 20rem;
        //         // margin-right: 20rem;
                width: 950px;
             }
         }

        #footer {
            .info {
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                max-width: 900px;
            }
        }
    }