#menu-container .menu-bloc .menu-card, #menu-container .button .gradient-btn {
  -webkit-box-shadow: 0 0px 10px 0 #dddddd, 0px 0px 30px 0px #dddddd;
          box-shadow: 0 0px 10px 0 #dddddd, 0px 0px 30px 0px #dddddd;
}

/* shrikhand-regular - latin */
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/shrikhand/shrikhand-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/fonts/shrikhand/shrikhand-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/shrikhand/shrikhand-v6-latin-regular.woff2") format("woff2"), url("/fonts/shrikhand/shrikhand-v6-latin-regular.woff") format("woff"), url("/fonts/shrikhand/shrikhand-v6-latin-regular.ttf") format("truetype"), url("/fonts/shrikhand/shrikhand-v6-latin-regular.svg#Shrikhand") format("svg");
  /* Legacy iOS */
}
/* roboto-100 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local(""), url("/fonts/roboto/roboto-v27-latin-100.woff2") format("woff2"), url("/fonts/roboto/roboto-v27-latin-100.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("/fonts/roboto/roboto-v27-latin-300.woff2") format("woff2"), url("/fonts/roboto/roboto-v27-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/roboto/roboto-v27-latin-regular.woff2") format("woff2"), url("/fonts/roboto/roboto-v27-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/fonts/roboto/roboto-v27-latin-500.woff2") format("woff2"), url("/fonts/roboto/roboto-v27-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/roboto/roboto-v27-latin-700.woff2") format("woff2"), url("/fonts/roboto/roboto-v27-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("/fonts/roboto/roboto-v27-latin-900.woff2") format("woff2"), url("/fonts/roboto/roboto-v27-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto";
  scroll-behavior: smooth;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0;
}

h2 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

#navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
#navigation .back-btn {
  font-size: 25px;
  color: #000;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 1rem;
}
#navigation img {
  width: 10rem;
}

#banner img {
  max-height: 20rem;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  margin-bottom: -4rem;
}

#menu-container {
  position: relative;
  z-index: 1;
  background: #F6F6F6;
  padding: 1rem;
  padding-bottom: 2rem;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
}
#menu-container #menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Shrikhand";
  margin-top: 1rem;
  margin-left: 1rem;
}
#menu-container #menu-title .checkbox-icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}
#menu-container #menu-title .fill-icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: #FF79DA;
  background: -o-linear-gradient(330deg, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(120deg, #FF79DA 0%, #9356DC 100%);
  opacity: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu-container #menu-title .empty-icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#menu-container #menu-title input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
#menu-container #menu-title input:checked ~ .empty-icon {
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  opacity: 0;
}
#menu-container #menu-title input:checked ~ .fill-icon {
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  opacity: 1;
}
#menu-container #menu-title h1 {
  font-size: 25px;
  font-weight: 400;
}
#menu-container #menu-title .checkbox-icon {
  margin-right: 1rem;
}
#menu-container h2 {
  margin-top: 1rem;
  font-weight: 400;
  padding-bottom: 5px;
  position: relative;
}
#menu-container h2:before {
  content: "";
  position: absolute;
  width: 10%;
  bottom: 0;
  border-bottom: 2px solid #99E2D0;
}
#menu-container .menu-bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
  line-height: 22px;
  margin-bottom: 1rem;
}
#menu-container .menu-bloc .menu-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 1rem;
  background: white;
  border-radius: 1rem;
  overflow: hidden;
}
#menu-container .menu-bloc .menu-card:hover .icon {
  margin-right: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#menu-container .menu-bloc .menu-card:hover i {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#menu-container .menu-bloc .menu-card .content-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 1rem;
  width: 100%;
  max-width: 100%;
}
#menu-container .menu-bloc .menu-card .content-card .text-card {
  width: 100%;
  overflow: hidden;
}
#menu-container .menu-bloc .menu-card .content-card .text-card * {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}
#menu-container .menu-bloc .menu-card .content-card .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 1rem;
}
#menu-container .menu-bloc .menu-card .icon {
  width: 6rem;
  background: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: -6rem;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#menu-container .menu-bloc .menu-card .icon i {
  color: #99E2D0;
  padding: 8px;
  border-radius: 50%;
  background: white;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#menu-container .menu-bloc .menu-box {
  -webkit-animation: slidedown 2s;
  animation: slidedown 2s;
}
@-webkit-keyframes slidedown {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    height: 0;
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    height: 100%;
  }
}
@keyframes slidedown {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    height: 0;
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    height: 100%;
  }
}
#menu-container .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#menu-container .button .gradient-btn {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  padding: 1rem;
  margin-top: 1rem;
  background-size: 2000% 100%;
  /* anim */
  border-radius: 2rem;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: -o-linear-gradient(272deg, #FF79DA, #9356DC, #FF79DA, #9356DC);
  background-image: linear-gradient(-182deg, #FF79DA, #9356DC, #FF79DA, #9356DC);
}
#menu-container .button .gradient-btn:hover {
  border-radius: 1rem;
  background-position: 80% 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 1px 1px 15px 1px #ae80e5;
          box-shadow: 1px 1px 15px 1px #ae80e5;
}
#menu-container .button .gradient-btn:focus {
  outline: none;
}
#menu-container .button .gradient-btn a {
  color: white;
  font-weight: normal;
  padding: 1rem;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #373737;
}
#footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding-bottom: 1rem;
  line-height: 30px;
  width: 100%;
}
#footer .info h4 {
  font-family: "Shrikhand";
  margin-bottom: 0;
  font-weight: 400;
  color: #fff;
  margin: 0;
}
#footer .info a {
  text-decoration: none;
  color: #fff;
}
#footer .info .link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1fr;
  grid-template-columns: 20px 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}
#footer .info .link > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-row: 1;
  grid-column: 1;
}
#footer .info .link > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-row: 1;
  grid-column: 2;
}
#footer .info .link .icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 11px;
  line-height: 30px;
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  #menu-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%);
    grid-template-columns: repeat(2, 50%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #menu-container #menu-title {
    margin-right: 1rem;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1/1/1/3;
  }
  #menu-container .menu-bloc {
    margin: 1rem;
    max-width: 100%;
  }

  #footer .info {
    margin-left: 2rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1360px) {
  #menu-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (33.3%);
    grid-template-columns: repeat(3, 33.3%);
  }
  #menu-container #menu-title {
    margin-right: 1rem;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 1/1/1/4;
  }
  #menu-container .menu-bloc {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 100%;
  }
  #menu-container .button {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-row: 3;
    grid-column: 2;
    grid-area: 3/2;
  }

  #footer .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 900px;
  }
}
@media only screen and (min-width: 1360px) {
  #menu-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (33.3%);
    grid-template-columns: repeat(3, 33.3%);
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }
  #menu-container #menu-title {
    margin-right: 1rem;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 1/1/1/4;
  }
  #menu-container .menu-bloc {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 100%;
  }
  #menu-container .button {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-row: 3;
    grid-column: 2;
    grid-area: 3/2;
  }

  #footer .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 900px;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
